.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.errorText {
  color: var(--color-crimson-400);
  font-size: 14px;
  margin-top: 6px;
  text-align: left;
  font-family: var(--font-body);
}

.error {
  border-color: var(--color-crimson-400) !important;
  box-shadow: 0 0 10px rgba(227, 91, 97, 0.4) !important;
}
